@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');

a.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 3px white;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
}

a.link-button .icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.20rem;
  background-color: var(--primary-color);
  background-clip: content-box;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.link-button .icon .play-icon {
  border: solid 9px white;
  width: 0;
  height: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  margin-right: -10px;
}

a.link-button .label {
  margin-left: 0.625rem;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 0.05rem;
}
